.about {
  flex-direction: column;
  margin-top: 3em;
  min-width: 270px;

  h1 {
    transition: font-size 1s;
  }

  .link-icon {
    margin-right: 0.8em;
  }
  .btn-outline {
    margin-right: 1em;
  }

  .typed-container {
    text-transform: uppercase;
    letter-spacing: 0.25em;

    i {
      color: red;

      &:hover {
        color: var(--clr-primary-alt);
      }
    }
  }
  .line-break {
    height: 4px;
    background-color: var(--clr-primary);
    margin: 40px auto 0;
    width: 100%;

    &:hover {
      background-color: var(--clr-primary-alt);
    }
  }
}
.about-name {
  color: var(--clr-primary);
  display: block;

  .letter {
    transition: color 0.2s;

    &:hover {
      color: var(--clr-primary-alt);
    }
  }
}
.about-role {
  margin-top: 5em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25em;
}
.about-typed {
  margin-top: 1.2em;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.25em;
  text-align: center;
}
.about-desc {
  font-size: 1rem;
  max-width: 600px;
  margin-top: 2.4em;
}
.about-contact {
  margin-top: 2.4em;
}

// -- Media Queries -- //

// -- Tablet Mode -- //
@media only screen and (max-width: 900px) {
  .about-name {
    line-height: 60px;
  }
}

@media (max-width: 600px) {
  .about-role {
    font-size: 14px;
  }

  .about-typed {
    font-size: 14px;
  }
}
