.nav-list {
  margin-right: 1.5em;
  display: flex;
}
.nav-list-item {
  margin-left: 1.5em;

  .list-number {
    color: var(--clr-primary);
    font-size: 0.8rem;
    font-weight: bold;
    margin-right: 4px;
  }

  &:hover {
    .list-number {
      color: var(--clr-primary-alt);
    }
  }
}
.nav-theme {
  margin-top: 0.4em;
  color: var(--clr-primary);

  svg {
    transition: all 0.3s;

    &::before {
      content: '\f186';
    }

    &::after {
      content: '';
      background-color: var(--clr-primary);
      border-radius: 50%;
      height: 0%;
      position: absolute;
      width: 0;
      z-index: -1;
    }

    &:hover {
      color: var(--clr-primary-alt);

      &::after {
        border: 0.2em solid var(--clr-primary);
        height: 100%;
        width: 100%;
      }
    }
  }
}

@media (max-width: 900px) {
  .nav {
    .nav-list {
      margin-right: 0.8em;
    }

    .nav-theme {
      margin-right: 0.5em;
    }
  }
}

@media (max-width: 600px) {
  .nav {
    flex: none;
  }
}
